<!DOCTYPE HTML>
<html lang="ko" xmlns:layout="ㅌ">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>HELLO, SBB!</title>
</head>
<body>
<!--네비게이션바-->
<nav th:replace="navbar :: navbarFragment"></nav>
<!--기본 템플릿 안에 삽입될 내용 start-->
<th:block layout:fragment="content"></th:block>
<!--기본 템플릿 안에 삽입될 내용 end-->
<!--Bootstrap JS-->
</body>
</html>